node_modules/
.next/
dist/
build/
.env
.env.local
.env.*.local
.env.production
.env.production.api
contracts/deploy.env
contracts/QUE_HACER.md
contracts/.deploy/
*.log
.DS_Store
coverage/
.turbo/
contracts/target/
contracts/.snfoundry_cache/
snfoundry_trace/
target/
.vercel
